//  Made by Vitor Bichara
//  Card component style

.card {
    min-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $card--bg;
    border: 1px solid $card__border;
    border-radius: $card-border-radius;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    margin: 1rem;

    &--progressCard {
        background-color: $progressCard--bg;
        padding-bottom: 3rem;
    }
}

.card__header {
    color: $card__header;
    font-weight: 600;
    margin: 0.5rem;
}

.card__text {
    text-align: center;
    max-width: 21rem;
    margin: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: $card__text;
    line-height: 1.5rem;
    &--dark {
        color: $progressCard__text;
        font-weight: 600;
        font-size: 0.9rem;
    }
    
    &--fullWidth {
        max-width: 100%;
    }
}