// Made by Vitor Bichara
// This file contains CSS helper classes.


/**
  * Main content containers
  * - Make the container full-width with a maximum width
  * - Center it in the viewport
  * - Leave some space on the edges, especially valuable on small screens
  */
.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; 
}